{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}
    {% if content.field_main_image|render %}
        <div class="width-wrapper header">
            <div class="right">
              {% if content.field_title|render %}
                <h1>{{ content.field_title }}</h1>
              {% else %}
                <h1>{{ label }}</h1>
              {% endif %}
                <h2>{{ content.field_subtitle  }}</h2>
                {{ content.field_link }}
            </div>
            <div class="left">
                {{ content.field_main_image }}
            </div>
        </div>
    {% elseif content.field_movies|render %}
      <div class="videos-wrapper">
        <video autoplay="" loop="loop" muted="" playsinline="" width="100%"><source src="{{ file_url(node.field_movies.0.entity.uri.value) }}" type="video/mp4" /></video>
        <video autoplay="" loop="loop" muted="" playsinline="" width="100%"><source src="{{ file_url(node.field_movies.1.entity.uri.value) }}" type="video/mp4" /></video>
          <div class="on-videos-titles">
            {% if content.field_title|render %}
              <h1>{{ content.field_title }}</h1>
            {% else %}
              <h1>{{ label }}</h1>
            {% endif %}
            <h2>{{ content.field_subtitle  }}</h2>
            {{ content.field_link }}
          </div>
      </div>
    {% else %}
      <div class="titles centered">
        {% if content.field_title|render %}
          <h1>{{ content.field_title }}
        {% else %}
          <h1>{{ label }}</h1>
        {% endif %}
        <h2>{{ content.field_subtitle  }}</h2>
      </div>
    {% endif %}
    <div{{ content_attributes.addClass('node__content') }}>
        {{ content|without('field_subtitle','field_main_image','field_link','field_title','field_movies') }}
    </div>

</article>
